body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:360px;
  height:52px;
  font-size:14px;
}
#u4087_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  word-wrap:break-word;
}
#u4088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u4088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u4089 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:2px;
  width:34px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u4089_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u4090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4090 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:12px;
  height:12px;
}
#u4090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u4091 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:0px;
  width:14px;
  height:15px;
}
#u4091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4092 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:0px;
  width:12px;
  height:12px;
}
#u4092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:345px;
  height:575px;
  overflow:hidden;
  touch-action:none;
}
#u4093_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:575px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4093_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4094 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:331px;
  height:692px;
  overflow:hidden;
}
#u4094_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:692px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4094_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:100px;
}
#u4095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:84px;
  height:100px;
}
#u4095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4095_ann {
  border-width:0px;
  position:absolute;
  left:77px;
  top:8px;
  width:1px;
  height:1px;
}
#u4096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u4096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:163px;
  width:329px;
  height:1px;
}
#u4096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4097 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:123px;
  width:64px;
  height:30px;
}
#u4097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u4098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4098 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:123px;
  width:64px;
  height:30px;
}
#u4098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u4099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339900;
  text-align:right;
}
#u4099 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:12px;
  width:30px;
  height:30px;
  color:#339900;
  text-align:right;
}
#u4099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  white-space:nowrap;
}
#u4100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4100 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:12px;
  width:30px;
  height:25px;
}
#u4100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u4101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4101 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:62px;
  width:62px;
  height:25px;
  font-size:12px;
}
#u4101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:62px;
  white-space:nowrap;
}
#u4102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4102 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:37px;
  width:49px;
  height:25px;
  font-size:12px;
}
#u4102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u4103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u4103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:329px;
  height:1px;
}
#u4103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4104 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:123px;
  width:64px;
  height:30px;
}
#u4104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u4105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4105 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:123px;
  width:64px;
  height:30px;
}
#u4105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u4106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:15px;
  width:39px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u4106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u4107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:169px;
  width:30px;
  height:30px;
  color:#666666;
  text-align:right;
}
#u4107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  white-space:nowrap;
}
#u4108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4108 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:87px;
  width:120px;
  height:25px;
  font-size:12px;
}
#u4108_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:120px;
  white-space:nowrap;
}
#u4109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:100px;
}
#u4109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:84px;
  height:100px;
}
#u4109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4109_ann {
  border-width:0px;
  position:absolute;
  left:77px;
  top:170px;
  width:1px;
  height:1px;
}
#u4110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4110 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:284px;
  width:64px;
  height:30px;
}
#u4110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u4111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4111 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:174px;
  width:30px;
  height:25px;
}
#u4111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u4112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4112 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:224px;
  width:62px;
  height:25px;
  font-size:12px;
}
#u4112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:62px;
  white-space:nowrap;
}
#u4113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4113 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:199px;
  width:49px;
  height:25px;
  font-size:12px;
}
#u4113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u4114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:285px;
  width:64px;
  height:30px;
}
#u4114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u4115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:249px;
  width:120px;
  height:25px;
  font-size:12px;
}
#u4115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:120px;
  white-space:nowrap;
}
#u4116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:177px;
  width:39px;
  height:20px;
  font-size:12px;
  text-align:center;
}
#u4116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:39px;
  word-wrap:break-word;
}
#u4117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:26px;
  width:24px;
  height:24px;
}
#u4117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:26px;
  width:24px;
  height:24px;
}
#u4118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:145px;
  width:306px;
  height:155px;
}
#u4120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:2px;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:255px;
  width:306px;
  height:1px;
}
#u4121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:255px;
  width:1px;
  height:45px;
}
#u4122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u4123 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:258px;
  width:30px;
  height:40px;
  color:#0000FF;
  text-align:center;
}
#u4123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:30px;
  white-space:nowrap;
}
#u4124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u4124 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:258px;
  width:30px;
  height:40px;
  color:#0000FF;
  text-align:center;
}
#u4124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:30px;
  white-space:nowrap;
}
#u4125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4125 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:163px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:30px;
  white-space:nowrap;
}
#u4126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4126 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:203px;
  width:248px;
  height:40px;
  text-align:center;
}
#u4126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:248px;
  word-wrap:break-word;
}
#u4127 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:255px;
  width:306px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
