body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u5912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:360px;
  height:52px;
  font-size:14px;
}
#u5913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  word-wrap:break-word;
}
#u5914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u5914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u5915 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:2px;
  width:34px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u5915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u5916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5916 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:12px;
  height:12px;
}
#u5916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u5917 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:0px;
  width:14px;
  height:15px;
}
#u5917_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5918 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:0px;
  width:12px;
  height:12px;
}
#u5918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:360px;
  height:575px;
  overflow:hidden;
  touch-action:none;
}
#u5919_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:575px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5919_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5920 {
  position:absolute;
  left:15px;
  top:0px;
}
#u5920_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:339px;
  height:959px;
  background-image:none;
}
#u5920_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u5921 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:536px;
  width:63px;
  height:75px;
}
#u5921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5922 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:244px;
  width:63px;
  height:75px;
}
#u5922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:59px;
  word-wrap:break-word;
}
#u5922_ann {
  border-width:0px;
  position:absolute;
  left:127px;
  top:240px;
  width:1px;
  height:1px;
}
#u5923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:59px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u5923_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:59px;
  white-space:nowrap;
}
#u5924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5924 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:45px;
  height:40px;
  text-align:right;
}
#u5924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:45px;
  white-space:nowrap;
}
#u5925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5925 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:8px;
  width:24px;
  height:24px;
}
#u5925_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5925_ann {
  border-width:0px;
  position:absolute;
  left:326px;
  top:4px;
  width:1px;
  height:1px;
}
#u5926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5926 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:40px;
  width:59px;
  height:40px;
  text-align:right;
}
#u5926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:59px;
  white-space:nowrap;
}
#u5927 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:80px;
  width:125px;
  height:40px;
}
#u5927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5928 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:40px;
  width:59px;
  height:40px;
  text-align:right;
}
#u5928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:59px;
  white-space:nowrap;
}
#u5929 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:80px;
  width:125px;
  height:40px;
}
#u5929_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u5930 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:100px;
  width:36px;
  height:1px;
}
#u5930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u5931 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:120px;
  width:25px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u5931_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:25px;
  white-space:nowrap;
}
#u5932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u5932 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:120px;
  width:25px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u5932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:25px;
  white-space:nowrap;
}
#u5933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u5933 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:80px;
  width:19px;
  height:21px;
  font-size:12px;
  text-align:center;
}
#u5933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  white-space:nowrap;
}
#u5933_ann {
  border-width:0px;
  position:absolute;
  left:170px;
  top:76px;
  width:1px;
  height:1px;
}
#u5934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5934 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:184px;
  width:59px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:59px;
  white-space:nowrap;
}
#u5934_ann {
  border-width:0px;
  position:absolute;
  left:54px;
  top:180px;
  width:1px;
  height:1px;
}
#u5935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u5935 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:173px;
  width:344px;
  height:1px;
}
#u5935_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5936 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:189px;
  width:64px;
  height:30px;
}
#u5936_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5937 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:374px;
  width:329px;
  height:1px;
}
#u5937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5938 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:334px;
  width:64px;
  height:30px;
}
#u5938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5939 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:334px;
  width:64px;
  height:30px;
}
#u5939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339900;
  text-align:right;
}
#u5940 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:677px;
  width:44px;
  height:30px;
  color:#339900;
  text-align:right;
}
#u5940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:44px;
  white-space:nowrap;
}
#u5941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5941 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:244px;
  width:30px;
  height:25px;
}
#u5941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u5942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5942 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:294px;
  width:89px;
  height:25px;
}
#u5942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  white-space:nowrap;
}
#u5943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5943 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:269px;
  width:144px;
  height:25px;
}
#u5943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  white-space:nowrap;
}
#u5944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
  text-align:right;
}
#u5944 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:294px;
  width:37px;
  height:25px;
  font-size:12px;
  color:#FF9900;
  text-align:right;
}
#u5944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:37px;
  white-space:nowrap;
}
#u5945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:244px;
  width:63px;
  height:75px;
}
#u5945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:59px;
  word-wrap:break-word;
}
#u5945_ann {
  border-width:0px;
  position:absolute;
  left:58px;
  top:240px;
  width:1px;
  height:1px;
}
#u5946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u5946 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:239px;
  width:44px;
  height:30px;
  color:#FF9900;
  text-align:right;
}
#u5946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:44px;
  white-space:nowrap;
}
#u5947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5947 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:390px;
  width:63px;
  height:75px;
}
#u5947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:59px;
  word-wrap:break-word;
}
#u5948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5948 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:520px;
  width:329px;
  height:1px;
}
#u5948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5949 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:480px;
  width:64px;
  height:30px;
}
#u5949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5950 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:480px;
  width:64px;
  height:30px;
}
#u5950_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5951 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:390px;
  width:30px;
  height:25px;
}
#u5951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u5952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5952 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:440px;
  width:89px;
  height:25px;
}
#u5952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  white-space:nowrap;
}
#u5953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5953 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:415px;
  width:144px;
  height:25px;
}
#u5953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  white-space:nowrap;
}
#u5954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
  text-align:right;
}
#u5954 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:440px;
  width:37px;
  height:25px;
  font-size:12px;
  color:#FF9900;
  text-align:right;
}
#u5954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:37px;
  white-space:nowrap;
}
#u5955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u5955 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:385px;
  width:44px;
  height:30px;
  color:#FF9900;
  text-align:right;
}
#u5955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:44px;
  white-space:nowrap;
}
#u5956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u5956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:390px;
  width:63px;
  height:75px;
}
#u5956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5957 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:828px;
  width:63px;
  height:75px;
}
#u5957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:59px;
  word-wrap:break-word;
}
#u5958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5958 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:666px;
  width:329px;
  height:1px;
}
#u5958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5959 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:626px;
  width:64px;
  height:30px;
}
#u5959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5960 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:626px;
  width:64px;
  height:30px;
}
#u5960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5961 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:536px;
  width:30px;
  height:25px;
}
#u5961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u5962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5962 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:586px;
  width:89px;
  height:25px;
}
#u5962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  white-space:nowrap;
}
#u5963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:561px;
  width:144px;
  height:25px;
}
#u5963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  white-space:nowrap;
}
#u5964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:584px;
  width:49px;
  height:25px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u5964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u5965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:531px;
  width:44px;
  height:30px;
  color:#FF9900;
  text-align:right;
}
#u5965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:44px;
  white-space:nowrap;
}
#u5966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:536px;
  width:63px;
  height:75px;
}
#u5966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:626px;
  width:64px;
  height:30px;
}
#u5967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:682px;
  width:63px;
  height:75px;
}
#u5968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5969 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:812px;
  width:329px;
  height:1px;
}
#u5969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:772px;
  width:64px;
  height:30px;
}
#u5970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:682px;
  width:30px;
  height:25px;
}
#u5971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u5972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:732px;
  width:89px;
  height:25px;
}
#u5972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  white-space:nowrap;
}
#u5973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:707px;
  width:144px;
  height:25px;
}
#u5973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  white-space:nowrap;
}
#u5974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#339900;
  text-align:right;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:730px;
  width:49px;
  height:25px;
  font-size:12px;
  color:#339900;
  text-align:right;
}
#u5974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u5975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:823px;
  width:44px;
  height:30px;
  color:#FF9900;
  text-align:right;
}
#u5975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:44px;
  white-space:nowrap;
}
#u5976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:682px;
  width:63px;
  height:75px;
}
#u5976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:828px;
  width:63px;
  height:75px;
}
#u5977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:958px;
  width:329px;
  height:1px;
}
#u5978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:918px;
  width:64px;
  height:30px;
}
#u5979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:918px;
  width:64px;
  height:30px;
}
#u5980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:828px;
  width:30px;
  height:25px;
}
#u5981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u5982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:878px;
  width:89px;
  height:25px;
}
#u5982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  white-space:nowrap;
}
#u5983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:853px;
  width:144px;
  height:25px;
}
#u5983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  white-space:nowrap;
}
#u5984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:918px;
  width:64px;
  height:30px;
}
#u5984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:876px;
  width:49px;
  height:25px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u5985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u5986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:334px;
  width:64px;
  height:30px;
}
#u5986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:480px;
  width:64px;
  height:30px;
}
#u5987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:626px;
  width:64px;
  height:30px;
}
#u5988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:772px;
  width:64px;
  height:30px;
}
#u5989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:918px;
  width:64px;
  height:30px;
}
#u5990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u5991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:26px;
  width:24px;
  height:24px;
}
#u5991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:360px;
  height:149px;
}
#u5993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:490px;
  width:59px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u5994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:59px;
  white-space:nowrap;
}
#u5995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:360px;
  height:1px;
}
#u5995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:589px;
  width:360px;
  height:1px;
}
#u5996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:539px;
  width:32px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u5997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:32px;
  white-space:nowrap;
}
#u5998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:590px;
  width:30px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u5998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:30px;
  white-space:nowrap;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:360px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
