body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:360px;
  height:52px;
  font-size:14px;
}
#u2713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  word-wrap:break-word;
}
#u2714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u2714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u2715 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:2px;
  width:34px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u2715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u2716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:12px;
  height:12px;
}
#u2716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2717 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:0px;
  width:14px;
  height:15px;
}
#u2717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:0px;
  width:12px;
  height:12px;
}
#u2718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:360px;
  height:575px;
  overflow:hidden;
  touch-action:none;
}
#u2719_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:575px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2719_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2720 {
  position:absolute;
  left:15px;
  top:0px;
}
#u2720_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:339px;
  height:959px;
  background-image:none;
}
#u2720_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:536px;
  width:63px;
  height:75px;
}
#u2721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2722 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:244px;
  width:63px;
  height:75px;
}
#u2722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:59px;
  word-wrap:break-word;
}
#u2722_ann {
  border-width:0px;
  position:absolute;
  left:127px;
  top:240px;
  width:1px;
  height:1px;
}
#u2723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:59px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:59px;
  white-space:nowrap;
}
#u2724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2724 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:45px;
  height:40px;
  text-align:right;
}
#u2724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:45px;
  white-space:nowrap;
}
#u2725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2725 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:8px;
  width:24px;
  height:24px;
}
#u2725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2725_ann {
  border-width:0px;
  position:absolute;
  left:326px;
  top:4px;
  width:1px;
  height:1px;
}
#u2726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2726 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:40px;
  width:59px;
  height:40px;
  text-align:right;
}
#u2726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:59px;
  white-space:nowrap;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:80px;
  width:125px;
  height:40px;
}
#u2727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:40px;
  width:59px;
  height:40px;
  text-align:right;
}
#u2728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:59px;
  white-space:nowrap;
}
#u2729 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:80px;
  width:125px;
  height:40px;
}
#u2729_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:100px;
  width:36px;
  height:1px;
}
#u2730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:120px;
  width:25px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u2731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:25px;
  white-space:nowrap;
}
#u2732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:120px;
  width:25px;
  height:40px;
  font-size:12px;
  text-align:center;
}
#u2732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:25px;
  white-space:nowrap;
}
#u2733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:80px;
  width:19px;
  height:21px;
  font-size:12px;
  text-align:center;
}
#u2733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:19px;
  white-space:nowrap;
}
#u2733_ann {
  border-width:0px;
  position:absolute;
  left:170px;
  top:76px;
  width:1px;
  height:1px;
}
#u2734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:184px;
  width:59px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:59px;
  white-space:nowrap;
}
#u2734_ann {
  border-width:0px;
  position:absolute;
  left:54px;
  top:180px;
  width:1px;
  height:1px;
}
#u2735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:173px;
  width:344px;
  height:1px;
}
#u2735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:189px;
  width:64px;
  height:30px;
}
#u2736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:374px;
  width:329px;
  height:1px;
}
#u2737_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:334px;
  width:64px;
  height:30px;
}
#u2738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:334px;
  width:64px;
  height:30px;
}
#u2739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339900;
  text-align:right;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:677px;
  width:44px;
  height:30px;
  color:#339900;
  text-align:right;
}
#u2740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:44px;
  white-space:nowrap;
}
#u2741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:244px;
  width:30px;
  height:25px;
}
#u2741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u2742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2742 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:294px;
  width:89px;
  height:25px;
}
#u2742_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  white-space:nowrap;
}
#u2743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2743 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:269px;
  width:144px;
  height:25px;
}
#u2743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  white-space:nowrap;
}
#u2744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
  text-align:right;
}
#u2744 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:294px;
  width:37px;
  height:25px;
  font-size:12px;
  color:#FF9900;
  text-align:right;
}
#u2744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:37px;
  white-space:nowrap;
}
#u2745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:244px;
  width:63px;
  height:75px;
}
#u2745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:59px;
  word-wrap:break-word;
}
#u2745_ann {
  border-width:0px;
  position:absolute;
  left:58px;
  top:240px;
  width:1px;
  height:1px;
}
#u2746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u2746 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:239px;
  width:44px;
  height:30px;
  color:#FF9900;
  text-align:right;
}
#u2746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:44px;
  white-space:nowrap;
}
#u2747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2747 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:390px;
  width:63px;
  height:75px;
}
#u2747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:59px;
  word-wrap:break-word;
}
#u2748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u2748 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:520px;
  width:329px;
  height:1px;
}
#u2748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:480px;
  width:64px;
  height:30px;
}
#u2749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:480px;
  width:64px;
  height:30px;
}
#u2750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2751 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:390px;
  width:30px;
  height:25px;
}
#u2751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u2752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:440px;
  width:89px;
  height:25px;
}
#u2752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  white-space:nowrap;
}
#u2753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:415px;
  width:144px;
  height:25px;
}
#u2753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  white-space:nowrap;
}
#u2754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9900;
  text-align:right;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:440px;
  width:37px;
  height:25px;
  font-size:12px;
  color:#FF9900;
  text-align:right;
}
#u2754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:37px;
  white-space:nowrap;
}
#u2755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:385px;
  width:44px;
  height:30px;
  color:#FF9900;
  text-align:right;
}
#u2755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:44px;
  white-space:nowrap;
}
#u2756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:390px;
  width:63px;
  height:75px;
}
#u2756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:828px;
  width:63px;
  height:75px;
}
#u2757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:59px;
  word-wrap:break-word;
}
#u2758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:666px;
  width:329px;
  height:1px;
}
#u2758_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:626px;
  width:64px;
  height:30px;
}
#u2759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:626px;
  width:64px;
  height:30px;
}
#u2760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:536px;
  width:30px;
  height:25px;
}
#u2761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u2762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:586px;
  width:89px;
  height:25px;
}
#u2762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  white-space:nowrap;
}
#u2763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:561px;
  width:144px;
  height:25px;
}
#u2763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  white-space:nowrap;
}
#u2764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:584px;
  width:49px;
  height:25px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u2764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u2765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:531px;
  width:44px;
  height:30px;
  color:#FF9900;
  text-align:right;
}
#u2765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:44px;
  white-space:nowrap;
}
#u2766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:536px;
  width:63px;
  height:75px;
}
#u2766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:626px;
  width:64px;
  height:30px;
}
#u2767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:682px;
  width:63px;
  height:75px;
}
#u2768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:812px;
  width:329px;
  height:1px;
}
#u2769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:772px;
  width:64px;
  height:30px;
}
#u2770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:682px;
  width:30px;
  height:25px;
}
#u2771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u2772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:732px;
  width:89px;
  height:25px;
}
#u2772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  white-space:nowrap;
}
#u2773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:707px;
  width:144px;
  height:25px;
}
#u2773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  white-space:nowrap;
}
#u2774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#339900;
  text-align:right;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:730px;
  width:49px;
  height:25px;
  font-size:12px;
  color:#339900;
  text-align:right;
}
#u2774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u2775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
  text-align:right;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:823px;
  width:44px;
  height:30px;
  color:#FF9900;
  text-align:right;
}
#u2775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:44px;
  white-space:nowrap;
}
#u2776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:682px;
  width:63px;
  height:75px;
}
#u2776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:75px;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:828px;
  width:63px;
  height:75px;
}
#u2777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:958px;
  width:329px;
  height:1px;
}
#u2778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:918px;
  width:64px;
  height:30px;
}
#u2779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:918px;
  width:64px;
  height:30px;
}
#u2780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:828px;
  width:30px;
  height:25px;
}
#u2781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  white-space:nowrap;
}
#u2782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:878px;
  width:89px;
  height:25px;
}
#u2782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:89px;
  white-space:nowrap;
}
#u2783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:853px;
  width:144px;
  height:25px;
}
#u2783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:144px;
  white-space:nowrap;
}
#u2784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:918px;
  width:64px;
  height:30px;
}
#u2784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:876px;
  width:49px;
  height:25px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u2785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  white-space:nowrap;
}
#u2786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:334px;
  width:64px;
  height:30px;
}
#u2786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:480px;
  width:64px;
  height:30px;
}
#u2787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:626px;
  width:64px;
  height:30px;
}
#u2788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:772px;
  width:64px;
  height:30px;
}
#u2789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:918px;
  width:64px;
  height:30px;
}
#u2790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u2791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:26px;
  width:24px;
  height:24px;
}
#u2791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:360px;
  height:149px;
}
#u2793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:490px;
  width:59px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u2794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:59px;
  white-space:nowrap;
}
#u2795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:360px;
  height:1px;
}
#u2795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:589px;
  width:360px;
  height:1px;
}
#u2796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:539px;
  width:32px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u2797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:32px;
  white-space:nowrap;
}
#u2798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:590px;
  width:30px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u2798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:30px;
  white-space:nowrap;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:360px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
