body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:380px;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:30px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:800px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:796px;
  word-wrap:break-word;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:50px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:200px;
  height:50px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:800px;
  height:50px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:796px;
  word-wrap:break-word;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:50px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:80px;
  width:200px;
  height:50px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:80px;
  width:800px;
  height:50px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:796px;
  word-wrap:break-word;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:200px;
  height:50px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:130px;
  width:200px;
  height:50px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:130px;
  width:800px;
  height:50px;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:796px;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:200px;
  height:50px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:180px;
  width:200px;
  height:50px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:180px;
  width:800px;
  height:50px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:796px;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:200px;
  height:50px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:230px;
  width:200px;
  height:50px;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:230px;
  width:800px;
  height:50px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:200px;
  height:50px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:280px;
  width:200px;
  height:50px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:280px;
  width:800px;
  height:50px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:200px;
  height:50px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:330px;
  width:200px;
  height:50px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:330px;
  width:800px;
  height:50px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
