body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u2941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:2px;
  width:34px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u2942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u2943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:12px;
  height:12px;
}
#u2943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:0px;
  width:14px;
  height:15px;
}
#u2944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:0px;
  width:12px;
  height:12px;
}
#u2945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:589px;
  width:358px;
  height:50px;
}
#u2946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:595px;
  width:24px;
  height:24px;
}
#u2948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:619px;
  width:25px;
  height:14px;
  font-size:12px;
  text-align:center;
}
#u2949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:595px;
  width:24px;
  height:24px;
}
#u2951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:619px;
  width:25px;
  height:14px;
  font-size:12px;
  text-align:center;
}
#u2952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:595px;
  width:24px;
  height:24px;
}
#u2954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:619px;
  width:25px;
  height:14px;
  font-size:12px;
  text-align:center;
}
#u2955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2957 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:595px;
  width:24px;
  height:24px;
}
#u2957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:619px;
  width:25px;
  height:14px;
  font-size:12px;
  text-align:center;
}
#u2958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:595px;
  width:24px;
  height:24px;
}
#u2960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u2961 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:619px;
  width:25px;
  height:14px;
  font-size:12px;
  text-align:center;
}
#u2961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2962 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:589px;
  width:80px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2963 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:589px;
  width:68px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2964 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:589px;
  width:64px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2965 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:589px;
  width:74px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2966 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:589px;
  width:72px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2967 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:31px;
  width:51px;
  height:14px;
  font-size:12px;
}
#u2967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2968 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:26px;
  width:24px;
  height:24px;
}
#u2968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2968_ann {
  border-width:0px;
  position:absolute;
  left:83px;
  top:22px;
  width:1px;
  height:1px;
}
#u2969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:26px;
  width:24px;
  height:24px;
}
#u2969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:151px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:74px;
  width:331px;
  height:151px;
}
#u2970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:151px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:235px;
  width:331px;
  height:151px;
}
#u2971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2971_ann {
  border-width:0px;
  position:absolute;
  left:339px;
  top:231px;
  width:1px;
  height:1px;
}
#u2972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:151px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:396px;
  width:331px;
  height:151px;
}
#u2972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2972_ann {
  border-width:0px;
  position:absolute;
  left:339px;
  top:392px;
  width:1px;
  height:1px;
}
#u2973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:125px;
  width:41px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u2973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:157px;
  width:73px;
  height:18px;
  color:#FFFFFF;
  text-align:right;
}
#u2974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:141px;
  width:54px;
  height:18px;
  color:#FFFFFF;
  text-align:right;
}
#u2975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:286px;
  width:41px;
  height:22px;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u2976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:318px;
  width:59px;
  height:18px;
  color:#000000;
  text-align:right;
}
#u2977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:447px;
  width:41px;
  height:22px;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u2978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:479px;
  width:73px;
  height:18px;
  color:#000000;
  text-align:right;
}
#u2979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:360px;
  height:149px;
}
#u2981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:490px;
  width:30px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u2982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:30px;
  white-space:nowrap;
}
#u2983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:360px;
  height:1px;
}
#u2983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:589px;
  width:360px;
  height:1px;
}
#u2984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:539px;
  width:59px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u2985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:59px;
  white-space:nowrap;
}
#u2986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:590px;
  width:30px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u2986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:30px;
  white-space:nowrap;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:589px;
  width:360px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:490px;
  width:360px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:360px;
  height:247px;
}
#u2990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:490px;
  width:30px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u2991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:30px;
  white-space:nowrap;
}
#u2992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:360px;
  height:1px;
}
#u2992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:589px;
  width:360px;
  height:1px;
}
#u2993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:540px;
  width:30px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u2994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:30px;
  white-space:nowrap;
}
#u2995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:590px;
  width:30px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u2995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:30px;
  white-space:nowrap;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:589px;
  width:360px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:360px;
  height:1px;
}
#u2997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:391px;
  width:30px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u2998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:30px;
  white-space:nowrap;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:360px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:360px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:441px;
  width:360px;
  height:1px;
}
#u3001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
  text-align:center;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:440px;
  width:30px;
  height:50px;
  color:#0000FF;
  text-align:center;
}
#u3002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:30px;
  white-space:nowrap;
}
#u3003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:302px;
  width:44px;
  height:18px;
  color:#000000;
  text-align:right;
}
#u3003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:right;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:462px;
  width:30px;
  height:18px;
  color:#000000;
  text-align:right;
}
#u3004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:55px;
  width:358px;
  height:236px;
}
#u3006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:186px;
  width:64px;
  height:30px;
  font-size:12px;
}
#u3007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u3008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:186px;
  width:64px;
  height:30px;
  font-size:12px;
}
#u3008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u3009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3009 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:186px;
  width:64px;
  height:30px;
  font-size:12px;
}
#u3009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u3010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:102px;
  width:64px;
  height:30px;
  font-size:12px;
}
#u3010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u3011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:102px;
  width:64px;
  height:30px;
  font-size:12px;
}
#u3011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u3012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:102px;
  width:64px;
  height:30px;
  font-size:12px;
}
#u3012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u3013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:186px;
  width:64px;
  height:30px;
  font-size:12px;
}
#u3013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u3014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:242px;
  width:125px;
  height:30px;
}
#u3014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3015 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:250px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u3015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:242px;
  width:1px;
  height:30px;
}
#u3016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3017 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:250px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u3017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3018 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:243px;
  width:62px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3019 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:146px;
  width:25px;
  height:40px;
  font-size:12px;
}
#u3019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:25px;
  white-space:nowrap;
}
#u3020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u3020 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:142px;
  width:344px;
  height:1px;
}
#u3020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3021 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:62px;
  width:25px;
  height:40px;
  font-size:12px;
}
#u3021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:25px;
  white-space:nowrap;
}
#u3022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u3022 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:146px;
  width:109px;
  height:40px;
  font-size:12px;
  color:#FF0000;
}
#u3022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:109px;
  white-space:nowrap;
}
