body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:360px;
  height:52px;
  font-size:14px;
}
#u6162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  word-wrap:break-word;
}
#u6163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u6163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u6164 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:2px;
  width:34px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u6164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u6165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6165 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:12px;
  height:12px;
}
#u6165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u6166 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:0px;
  width:14px;
  height:15px;
}
#u6166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6167 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:0px;
  width:12px;
  height:12px;
}
#u6167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6168 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:26px;
  width:24px;
  height:24px;
}
#u6168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6169 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:151px;
  width:87px;
  height:50px;
}
#u6169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:87px;
  white-space:nowrap;
}
#u6170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u6171 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:231px;
  width:48px;
  height:50px;
}
#u6171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u6172 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:231px;
  width:48px;
  height:50px;
}
#u6172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u6173 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:231px;
  width:48px;
  height:50px;
}
#u6173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u6175 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:308px;
  width:48px;
  height:50px;
}
#u6175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u6176 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:308px;
  width:48px;
  height:50px;
}
#u6176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u6177 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:308px;
  width:48px;
  height:50px;
}
#u6177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u6179 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:386px;
  width:48px;
  height:50px;
}
#u6179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u6180 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:386px;
  width:48px;
  height:50px;
}
#u6180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u6181 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:386px;
  width:48px;
  height:50px;
}
#u6181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6182 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:223px;
  width:238px;
  height:221px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
