body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u5374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:360px;
  height:52px;
  font-size:14px;
}
#u5375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  word-wrap:break-word;
}
#u5376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u5376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:2px;
  width:34px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u5377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u5378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:12px;
  height:12px;
}
#u5378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:0px;
  width:14px;
  height:15px;
}
#u5379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:0px;
  width:12px;
  height:12px;
}
#u5380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:360px;
  height:575px;
  overflow:hidden;
  touch-action:none;
}
#u5381_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:575px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5381_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5382 {
  position:absolute;
  left:15px;
  top:0px;
}
#u5382_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:337px;
  height:758px;
  background-image:none;
}
#u5382_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:59px;
  height:40px;
}
#u5383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:59px;
  white-space:nowrap;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5385 {
  position:absolute;
  left:11px;
  top:725px;
}
#u5385_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background-image:none;
}
#u5385_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5388 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:20px;
  height:20px;
}
#u5388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5389 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:725px;
  width:25px;
  height:25px;
}
#u5389_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5389.selected {
}
#u5389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5390 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:728px;
  width:20px;
  height:20px;
}
#u5390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5391 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:718px;
  width:188px;
  height:40px;
}
#u5391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:188px;
  white-space:nowrap;
}
#u5392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:330px;
  height:81px;
}
#u5392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5393 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:72px;
  width:155px;
  height:30px;
}
#u5393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:155px;
  white-space:nowrap;
}
#u5394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5394 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:102px;
  width:96px;
  height:30px;
  font-size:12px;
}
#u5394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:96px;
  white-space:nowrap;
}
#u5395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5395 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:52px;
  width:24px;
  height:24px;
}
#u5395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:330px;
  height:81px;
}
#u5396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5397 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:179px;
  width:102px;
  height:30px;
}
#u5397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:102px;
  white-space:nowrap;
}
#u5398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:400px;
  width:329px;
  height:142px;
}
#u5398_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5398.selected {
}
#u5398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u5399 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:390px;
  width:55px;
  height:21px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u5399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u5400 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:411px;
  width:300px;
  height:114px;
}
#u5400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:114px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:85px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5401 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:593px;
  width:102px;
  height:85px;
}
#u5401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5402 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:621px;
  width:30px;
  height:30px;
  opacity:0.6;
}
#u5402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5403 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:553px;
  width:59px;
  height:40px;
}
#u5403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:59px;
  white-space:nowrap;
}
#u5404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:331px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:254px;
  width:329px;
  height:50px;
}
#u5405_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5405.selected {
}
#u5405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u5406 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:244px;
  width:55px;
  height:21px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u5406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u5407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:329px;
  height:50px;
}
#u5407_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5407.selected {
}
#u5407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u5408 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:314px;
  width:55px;
  height:21px;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u5408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u5409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5409 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:259px;
  width:30px;
  height:40px;
}
#u5409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:30px;
  white-space:nowrap;
}
#u5409_ann {
  border-width:0px;
  position:absolute;
  left:45px;
  top:255px;
  width:1px;
  height:1px;
}
#u5410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5410 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:329px;
  width:89px;
  height:40px;
}
#u5410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:89px;
  white-space:nowrap;
}
#u5410_ann {
  border-width:0px;
  position:absolute;
  left:104px;
  top:325px;
  width:1px;
  height:1px;
}
#u5411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5411 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:526px;
  width:235px;
  height:49px;
  color:#1E1E1E;
}
#u5411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:231px;
  word-wrap:break-word;
}
#u5412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:526px;
  width:125px;
  height:50px;
  color:#FFFFFF;
}
#u5412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:121px;
  word-wrap:break-word;
}
#u5413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5413 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:26px;
  width:24px;
  height:24px;
}
#u5413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
