body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:586px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:99px;
  width:100px;
  height:60px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:193px;
  width:100px;
  height:60px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:193px;
  width:100px;
  height:60px;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:290px;
  width:100px;
  height:60px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:350px;
  width:0px;
  height:0px;
}
#u575_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u575_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:13px;
  width:152px;
  height:8px;
}
#u575_seg2 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:-297px;
  width:8px;
  height:318px;
}
#u575_seg3 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-297px;
  width:226px;
  height:8px;
}
#u575_seg4 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-297px;
  width:8px;
  height:46px;
}
#u575_seg5 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-263px;
  width:18px;
  height:18px;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:94px;
  top:-210px;
  width:100px;
  word-wrap:break-word;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:159px;
  width:0px;
  height:0px;
}
#u576_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u576_seg1 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:17px;
  width:81px;
  height:8px;
}
#u576_seg2 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:17px;
  width:8px;
  height:17px;
}
#u576_seg3 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:22px;
  width:18px;
  height:18px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:159px;
  width:0px;
  height:0px;
}
#u577_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u577_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:17px;
  width:82px;
  height:8px;
}
#u577_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:17px;
  width:8px;
  height:17px;
}
#u577_seg3 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:22px;
  width:18px;
  height:18px;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:253px;
  width:0px;
  height:0px;
}
#u578_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u578_seg1 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:10px;
  width:105px;
  height:8px;
}
#u578_seg2 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:-200px;
  width:8px;
  height:218px;
}
#u578_seg3 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:-200px;
  width:178px;
  height:8px;
}
#u578_seg4 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-200px;
  width:8px;
  height:46px;
}
#u578_seg5 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-166px;
  width:18px;
  height:18px;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:-147px;
  top:-164px;
  width:100px;
  word-wrap:break-word;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:253px;
  width:0px;
  height:0px;
}
#u579_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u579_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:18px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:159px;
  width:0px;
  height:0px;
}
#u580_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u580_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:14px;
  width:169px;
  height:8px;
}
#u580_seg2 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-107px;
  width:8px;
  height:129px;
}
#u580_seg3 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-107px;
  width:169px;
  height:8px;
}
#u580_seg4 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-107px;
  width:8px;
  height:47px;
}
#u580_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-72px;
  width:18px;
  height:18px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-78px;
  width:100px;
  word-wrap:break-word;
}
